@model List<Assignment_1.Controllers.EventCS3750>
@{
    ViewData["Title"] = "Calendar";
}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.5/index.global.min.js'></script>

    <script>
        //import { Calendar } from '../../fullcalendar/dist/index.global.js'
        var data = @Html.Raw(Json.Serialize(@Model));

        var objs = [];
        for (var i = 0; i < data.length; i++) {
            if (String(data[i].url) != ''){
                objs.push({ start: String(data[i].startTime), end: String(data[i].endTime), title: String(data[i].title), color: String(data[i].color), url: String(data[i].url) });
            }
            else{
                objs.push({ start: String(data[i].startTime), end: String(data[i].endTime), title: String(data[i].title), color: String(data[i].color) });
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: objs
            });
            calendar.render();
        });

    </script>
    <style>
        .fc-event-time {
            color: black;
        }

        .fc-event-title{
            color: black;
        }
    </style>

</head>
<body>
    <div id='calendar'></div>
</body>
</html>