@model IEnumerable<Assignment_1.Models.Class>

@{
    ViewData["Title"] = "Calendar";
}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <script src='~/js/index.global.js'></script>

    <script>
        var userID = @(Context.Request.Query["UserID"])

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: function() {

                }
            });
            var testEl = document.getElementById("test");
            testEl.innerHTML = userID;
            calendar.render();
        });

    </script>
</head>
<body>
    <p id="test"></p>
    <div id='calendar'></div>
</body>
</html>