@model Assignment_1.Models.User
<html>
<head>
    <title>Tuition Balance</title>
</head>
<body>
    <h1>User Balance: </h1>
    @Html.DisplayFor(model => model.Balance)
    <hr />
    <form action="/create-checkout-session" method="POST">
        <input type="number" name="amount" />
        <button type="submit" class="btn-primary">Pay Amount</button>
    </form>
</body>
</html>


