@*@model Assignment_1.Models.User*@
<html>
<head>
    <title>Tuition Balance</title>
</head>
<body>
    <!-- Use action="/create-checkout-session.php" if your server is PHP based. -->
    <form action="/create-checkout-session" method="POST">
        <input type="number" name="amount" />
        <button type="submit" class="btn-primary">Pay Amount</button>
    </form>
</body>
</html>


