@model Assignment_1.Models.ClassAssignments

@{
    ViewData["Title"] = "Create";
}
<style>
    body {
        background-image: url('/Photos/AssignmentPagesBG.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .box {
        border: solid;
        border-color: white;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(68, 68, 68, 0.6);
        width: 30%;
        height: 420px;
        margin: 0 auto;
        background-color: white;
        vertical-align: middle;
        position: absolute;
        top: 15%;
        left: 35%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .btn-primary {
        width: 5%;
        border: solid;
        border-color: White;
        margin: 0 auto;
        position: absolute;
        width: 25%;
        top: 60%;
        left: 38%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        color: white;
    }

    h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 35px;
        color: #DEB887;
    }
</style>
<body>
<h1>Create a new Assignment</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="box">
            <div class="form-group">
                <label asp-for="AssignmentTitle" class="control-label"></label>
                <input asp-for="AssignmentTitle" class="form-control" />
                <span asp-validation-for="AssignmentTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPoints" class="control-label"></label>
                <input asp-for="MaxPoints" class="form-control" />
                <span asp-validation-for="MaxPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueTime" class="control-label"></label>
                <input asp-for="DueTime" class="form-control" />
                <span asp-validation-for="DueTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmissionType" class="control-label"></label>
                <input asp-for="SubmissionType" class="form-control" />
                <span asp-validation-for="SubmissionType" class="text-danger"></span>
            </div>
           </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
</body>