@model Assignment_1.Models.ClassAssignments

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Class</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="None" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ClassId" />


            <div class="form-group">
                <label asp-for="AssignmentTitle" class="control-label"></label>
                <input asp-for="AssignmentTitle" class="form-control" />
                <span asp-validation-for="AssignmentTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPoints" class="control-label"></label>
                <input asp-for="MaxPoints" class="form-control" />
                <span asp-validation-for="MaxPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DueTime" class="control-label"></label>
                <input asp-for="DueTime" class="form-control" />
                <span asp-validation-for="DueTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubmissionType" class="control-label"></label>
                <input asp-for="SubmissionType" class="form-control" />
                <span asp-validation-for="SubmissionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@