@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Please Log In Or Sign Up</h2>
    <hr />
    <a class="text-dark" asp-area="" asp-controller="Login" asp-action="Index">Log into an existing account.</a>
    <br />
    <a class="text-dark" asp-controller="Users" asp-action="Create">Create a new Account.</a>
    <hr />
    
</div>
