@model Assignment_1.Models.User

@{
    ViewData["Title"] = "Edit";
}
<style>
    body {
        background-image: url('/Photos/editProfileBG.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h1{
      
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size:30px;
    }
     .box{
        border:solid;
        border-color:white;
		border-radius: 5px;
		box-shadow: 10px 10px 10px rgba(68, 68, 68, 0.6);
		width:30%;
		height:775px;
		margin: 0 auto;
		background-color:white;
		vertical-align: middle;
		position:absolute;
		top:15%;
		left:35%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .btn-primary{
        width: 5%;
        border: solid;
        border-color: #7393B3;
        background-color: #7393B3;
        margin: 0 auto;
        position: absolute;
        width: 25%;
        top: 95%;
        left: 38%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
    }

</style>
<body>

<h1>Edit Profile</h1>


<hr />

<div class="row">
  
   
    
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="None" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="box">
           <div class="form-group">
              
                @*<label asp-for="Image" class="control-label"></label>*@
                <label>Profile Picture</label>
                <input name="image" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
           </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="Reference1">
                <label asp-for="ReferenceOne" class="control-label"></label>
                <input asp-for="ReferenceOne" class="form-control" />
                <span asp-validation-for="ReferenceOne" class="text-danger"></span>
            </div>
            <div class="Reference2">
                <label asp-for="ReferenceTwo" class="control-label"></label>
                <input asp-for="ReferenceTwo" class="form-control" />
                <span asp-validation-for="ReferenceTwo" class="text-danger"></span>
            </div>
            <div class="Reference3">
                
                <label asp-for="ReferenceThree" class="control-label"></label>  
                <input asp-for="ReferenceThree" class="form-control" type = "url" />
                <span asp-validation-for="ReferenceThree" class="text-danger"></span>
            </div>
                </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Details" asp-route-id="@Model?.Id">Details</a> 
</div>*@
</body>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
