@model Assignment_1.Models.Class

@{
    ViewData["Title"] = "Create";
}
<style>
    body {
        background-image: url('/Photos/editClass.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .box {
        border: solid;
        border-color: white;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(68, 68, 68, 0.6);
        width: 30%;
        height: 500px;
        margin: 0 auto;
        background-color: white;
        vertical-align: middle;
        position: absolute;
        top: 15%;
        left: 35%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .btn-primary {
        width: 5%;
        border: solid;
        border-color: White;
        margin: 0 auto;
        position: absolute;
        width: 25%;
        top: 70%;
        left: 38%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        color: white;
    }

    h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        color: white;
    }
</style>
<body>
<h1>Create A New Class</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Classes" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="box">
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="Department" name="Department" class="form-control"> @*This is a dropbox in HTML*@
                    <option value="CS">CS</option>
                    <option name="math" value="MATH">MATH</option>
                    <option value="ENGL">ENGL</option>
                    <option value="HIST">HIST</option>
                    <option value="CHEM">CHEM</option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseNumber" class="control-label"></label>
                <input asp-for="CourseNumber" name="courseNumber" class="form-control" />
                <span asp-validation-for="CourseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" name="courseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfCredits" id="credits" class="control-label">Number of Credits: 3</label>
                @*
                    Makes a slider for credits below, I swear I can remember the professor saying
                    we should do this as a slider but I can't remember for sure. Figured I'd do it just in case.
                *@
                <input asp-for="NumOfCredits" name="NumOfCredits" class="form-control" type="range" min="0" max="10" value="3" 
                oninput="document.getElementById('credits').innerHTML = 'Number of Credits: ' + this.value;" id="credits"/> 
                <span asp-validation-for="NumOfCredits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" name="location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>@*
            <div class="form-group"> @* Still need to make it so it's 7 buttons/check boxes for each day of the week
                <label asp-for="DaysOfWeek" class="control-label"></label>
                <input asp-for="DaysOfWeek" class="form-control" />
                <span asp-validation-for="DaysOfWeek" class="text-danger"></span>
            </div>*@
            <div class="form-group"> @* Still need to make it so it's 7 buttons/check boxes for each day of the week *@
                Monday
                <input type="checkbox" name="day" value="M" />
                Tuesday
                <input type="checkbox" name="day" value="Tu" />
                Wednesday
                <input type="checkbox" name="day" value="W" />
                Thursday
                <input type="checkbox" name="day" value="Th" />
                Friday
                <input type="checkbox" name="day" value="F" />
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" name="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" name="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Register Class" name="register" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
</body>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
