@model Assignment_1.Models.Class

@{
    ViewData["Title"] = "Edit";
}
<style>
    body {
        background-image: url('/Photos/editClass.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .box {
        border: solid;
        border-color: white;
        border-radius: 5px;
        box-shadow: 10px 10px 10px rgba(68, 68, 68, 0.6);
        width: 30%;
        height: 500px;
        margin: 0 auto;
        background-color: white;
        vertical-align: middle;
        position: absolute;
        top: 15%;
        left: 35%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .btn-primary {
        width: 5%;
        border: solid;
        border-color:White;
       
        margin: 0 auto;
        position: absolute;
        width: 25%;
        top: 70%;
        left: 38%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
        color:white;
    }
    h1{
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         font-size:30px;
         color:white;
    }
</style>
<body>
<h1>Edit Class</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="None" class="text-danger"></div>
            <input type="hidden" asp-for="ClassId" />
            <input type="hidden" asp-for="UserId" />

            <div class="box">
            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CourseNumber" class="control-label"></label>
                <input asp-for="CourseNumber" class="form-control" />
                <span asp-validation-for="CourseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfCredits" class="control-label"></label>
                <input asp-for="NumOfCredits" class="form-control" />
                <span asp-validation-for="NumOfCredits" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DaysOfWeek" class="control-label"></label>
                <input asp-for="DaysOfWeek" class="form-control" />
                <span asp-validation-for="DaysOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
  @*  <a asp-action="Index"> Class Home</a> *@
</div>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
