@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Assignment_1.Models.User
@{
	ViewData["Title"] = "Login";
}

<style>
	body{
		background-image: url('/Photos/Gradient-Background.png');
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		
	}
	.box{
		border:thin;
		border-block-color:lightblue;
		border-radius: 25px;
		box-shadow: 10px 10px 10px rgba(68, 68, 68, 0.6);
		width:40%;
		height:300px;
		margin: 0 auto;
		background-color:white;		
		
	}
	.btn-primary{
		background-color:cornflowerblue;
		border-color:cornflowerblue;
		font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		box-shadow: 5px 5px 2px lightblue;
		
	}
	.btn-primary:hover{
		background-color:lightblue;
		border-color:lightblue;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
	.btn-secondary{
		background-color:mediumpurple;
		font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		box-shadow: 5px 5px 2px lightblue;
		
	}
	.btn-secondary:hover{
			background-color: mediumpurple;
			background-color:mediumpurple;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
	label{
		font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
	.textInput{
		max-width:12vi;	
	}
	
	
</style>
<body>
	@*<img src = "~/Photos/Gradient-Background.png" />*@
	
<div class="box">
<div class="text-center d-flex justify-content-center">
	<div style="width:40vw; margin:auto; padding:50px;">
		<form asp-controller="Login" asp-action="Validate">
			<div class="d-flex justify-content-between">
				<label asp-for="Email">Email:</label><input class="textInput" asp-for="Email" name="Email" type="text" />
			</div>
			<div class="d-flex justify-content-between">
				<label asp-for="Password">Password:</label><input class="textInput" asp-for="Password" name="Password" type="text" />
			</div>
			<br />
			<input value="Log in" type="submit" class="btn btn-primary" />
		</form>
		<hr />
				<a class="btn btn-secondary" asp-controller="Users" asp-action="Create">Create a new Account</a>
	</div>
</div>
</div>
</body>

